

<nav class="navbar navbar-default" role="navigation">
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      <div class="sr-only">Toggle navigation</div>
			      <div class="icon-bar"></div>
			      <div class="icon-bar"></div>
			      <div class="icon-bar"></div>
			    </button>
			    <a class="navbar-brand" href="#"><img src="img/ao_logo_small.png" alt="Aug&amp;Ohr Medien" /></a>
			  </div>

			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse">
			    <ul class="nav navbar-nav">
			    foreach $root do

			      <li class="active"><a href="@url">@title</a></li>
			
				endforeach
			    </ul>
			  <div class="navbar-right claim"><p>Your Film Agency.</p></div>
			  </div><!-- /.navbar-collapse -->
			</nav>