<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="@root_path/public/docs/css/bootstrap.min.css">
        <link rel="profile" href="http://microformats.org/profile/hcard">
        <link rel="stylesheet" href="@root_path/public/docs/css/main.css">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="@root_path/public/docs/js/gridline.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

    </head>
    <body id="film-detail about">

      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
      :navigation
    <!-- Main jumbotron for a primary marketing message or call to action -->
   
      <div class="jumbotron" >
        <img src="@root_path/content/1.about/header.jpg" class="img-responsive" alt="Ballet Story Film Still" />
        <div id="about-title">
          <h1>News</h1>
          <p>aug&amp;ohr medien</p>
         </div>
        
      </div>


      <!-- Example row of columns -->
      <div id="content">
       
    

        <section id="about">
          <div class="row" data-columns="16" data-gutter-width="20">
             <div class="col-md-10 third">
              <div class="gutter">

              <div class="fb-like-box" data-href="https://www.facebook.com/AUGOHRmedien" data-width="580" data-height="1000" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th scope="row">
                      <div>
                        <p><img src="@root_path/content/1.about/m1.jpg" class="img-responsive"/></p>
                      </div>
                    </th>
                    <td>
                      <div>
                        <p>@name-1<br />
                        <em>@profession-1</em>
                        </p>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">
                      <div>
                        <p><img src="@root_path/content/1.about/m2.jpg" class="img-responsive"/></p>
                      </div>
                    </th>
                    <td>
                      <div>
                        <p>@name-2<br />
                        <em>@profession-2</em>
                        </p>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">
                      <div>
                        <p><img src="@root_path/content/1.about/m3.jpg" class="img-responsive"/></p>
                      </div>
                    </th>
                    <td>
                      <div>
                        <p>@name-3<br />
                        <em>@profession-3</em>
                        </p>
                      </div>
                    </td>
                  </tr>                </table>
              </div>
           </div>

          </div>
        </section>        

       



      </div>
     
      <footer>
        <p><a id="small-logo" href="#"><img src="@root_path/public/images/ao_logo_footer.png" alt="aug&amp;ohr medien" />
            <span>aug&amp;ohr medien</span></a>
            <span>&copy; 2011-2013</span>
            <span class="pull-right imprint"><a href="#">Impressum</a></span>
        </p>
      </footer>
    </div>
    </body>
</html>
